.container {
  position: relative;
  width: auto;
  height: 100vh;
  text-align: center;
  background-image: url(../public/love_bg.jpg);
  background-size: cover;
   /* Adjust how the image covers the div */
  background-repeat: no-repeat; /* Ensure the image doesn't repeat */
  background-position: center;
  background-color: #fff;
}

.image {
  /* background-image: url(../public/love_bg.jpg); */
  transform: translate(0, 20%);
  /* width: 50% */
}

.yn-button{
  transform: translate(0, 120px);
  padding : 10px 40px;
  font-size: xx-large;
  font-style: oblique;
  font-family: cursive;
  
}

.no {
  margin: 40px 50px;
  /* transition: transform 0.3s ease-in; */
}


@media screen and (max-width : 768px){
  .image {
    /* background-image: url(../public/love_bg.jpg); */
    /* transform: translate(0, 100px); */
    width: 100%;
  } 
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
